# Build directories
build/
lib/

# Object files
*.o

# Static libraries
*.a

# Editor/IDE files
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

samples/mcc/*.asm
samples/mcc/obj
samples/mcc/mcc